:root {
    --main-color: #3B1E1C;
    --active-color: #FEF3E1;
    --border-color: #E8E8E8;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-size: 16px;
    /* font-family: "Roboto", sans-serif; */
    font-weight: normal;
    color: #000000;
    background-color: #FFFFFF;
    position: relative;
}

a {
    color: #000000;
    transition: all 300ms;
}

a:hover {
    color: #3B1E1C;
    text-decoration: none;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

button {
    transition: all 300s;
}

p {
    margin: 0;
}

/* ========================================================== */
/* Breadcrumb */
/* ========================================================== */

.es-breadcrumb {
    background-color: transparent;
    font-size: 16px;
    padding: 60px 0;
    margin-bottom: 0;
    font-style: italic;
}

.breadcrumb-item::before {
    color: var(--main-color) !important;
    font-weight: 400;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.ec-breadcrumb .breadcrumb {
    background-color: transparent;
    padding: 0;
}

.navbar {
    padding: 0.5rem 0rem;
}

.ec-breadcrumb .breadcrumb-item.active {
    opacity: 0.7;
}

.es-header-nav {
    display: flex;
    justify-content: center;
}

.es-header-nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.es-header-nav a:hover {
    color: var(--main-color);
}

.contact-nav a {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: var(--main-color);
}

.contact-nav p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.es-header-icon {
    display: flex;
    justify-content: end;
}

.pv-image {
    position: relative;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.img-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.es-carusel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.es-carusel-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.btn-favourite {
    position: absolute;
    top: 14px;
    right: 8px;
}

.btn-favourite:hover path {
    fill: var(--main-color);
}

.pv-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
    color: var(--main-color);
    height: 2.5rem;
    overflow: hidden;
}

.pv-function {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    height: 120px;
    overflow: hidden;
}

.pv-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
    color: var(--main-color);
}

.btn-cart {
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: 12px 71px;
    color: var(--main-color);
    font-weight: 500;
}

.btn-cart:hover {
    background-color: #3B1E1C;
    color: #FFFFFF;
}

.btn-cart-light {
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: 12px 71px;
    color: #FFFFFF;
    font-weight: 500;
}

.btn-cart-light:hover {
    background-color: #FFFFFF;
    color: var(--main-color);
}

.es-pv-wrapper {
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.es-category-list {
    position: relative;
}

.es-carusel-item {
    flex: 0 0 25%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
}

.section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 40px;
}

.page-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: var(--main-color);
    margin-bottom: 40px;
}

.slick-arrow {
    border: none;
    background-color: transparent;
}

.slick-prev {
    position: absolute;
    top: -80px;
    right: 60px;
}

.slick-next {
    position: absolute;
    top: -80px;
    right: 0;
}

button:focus {
    outline: none;
}

.es-product-title {
    font-weight: 500;
    margin-bottom: 10px;
    height: 2rem;
    overflow: hidden;
}

.es-pro-price {
    font-weight: 500;
    margin-bottom: 20px;
}

.es-btn-cart {
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: 7px 31px;
    color: var(--main-color);
    font-weight: 500;
}

.es-btn-cart:hover {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.main-carusel-wrp {
    position: relative;
}

.carousel-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.es-carusel-info {
    text-align: center;
    margin-top: 20px;
}

.footer-wrapper {
    padding-top: 120px;
    border-top: 1px solid var(--border-color);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.footer-content {
    margin-top: 40px;
    font-style: italic;
    font-weight: 400;
}

.footer-item {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}

.footer-links li {
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.contact-number {
    margin-bottom: 10px;
}

.contact-number a {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.contact-footer {
    text-align: end;
}

.contact-info {
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 30px;
}

.social-container img {
    margin-left: 20px;
}

.es-footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
    padding: 1.375rem 0;
    border-top: 1px solid var(--border-color);
    margin-top: 120px;
}

.es-footer-copyright,
.es-footer-developer {
    color: var(--main-color);
    font-style: italic;
    font-weight: 400;
}

.es-footer-developer a:hover {
    text-decoration: underline;
}

.main-carusel {
    position: relative;
}

.main-carousel .carousel-item .img-fluid {
    height: 43.75rem;
    object-fit: cover;
}

.carousel-indicators {
    margin-left: 10%;
    justify-content: center;
}

.carousel-backdrop {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding: 3rem 5rem;
}

.carousel-control-prev svg {
    transform: rotate(-45deg);
}

.carousel-control-next svg {
    transform: rotate(135deg);
}

.carousel-control-next,
.carousel-control-prev {
    background-color: transparent;
    border: 0;
    width: 10%;
}

.carousel-control-next path,
.carousel-control-prev path {
    stroke: #FFFFFF;
}

.carousel-control-prev span,
.carousel-control-next span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    transform: rotate(45deg);
}

.carousel-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.carousel-info {
    font-style: italic;
    font-weight: 496;
    font-size: 20px;
    line-height: 110%;
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: center;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    transform: rotate(45deg);
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: #FFFFFF;
}

.es-carousel-content {
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-content-wrapper {
    max-width: 340px;
    margin-left: 40px;
}

.menu-item {
    display: flex;
    margin-bottom: 90px;
}

.menu-type {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-color);
    margin-bottom: 15px;
    height: 30px;
    overflow: hidden;
}

.menu-type-desc {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    height: 80px;
    overflow: hidden;
}

.menu-link {
    font-weight: 500;
    line-height: 19px;
    color: #3B1E1C;
}

.menu-link img {
    transform: rotate(180deg);
    height: 12px;
}

.links-container {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    align-items: center;
}

.icon-container {
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    margin-right: 15px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container-lg {
    border: 1px solid var(--main-color);
    transform: rotate(45deg);
    margin-right: 15px;
    min-height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container img,
.icon-container-lg img {
    transform: rotate(-45deg);
}

.booking {
    position: relative;
}

.booking-form {
    width: 50%;
    padding: 40px 80px;
    background-color: #FFFFFF;
    position: absolute;
    top: 10%;
    right: 25%;
}

.booking-desc {
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #E8E8E8;
    font-weight: 500;
    color: var(--main-color);
    padding-left: 0;
    margin-bottom: 0px;
}

.booking-guide {
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #ACACAC;
}

.booking-guide span {
    color: var(--main-color);
}

.icon-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.icon-wrapper-lg {
    margin-bottom: 20px;
    margin-top: 20px;
}

.es-products-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.es-product-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 40px;
}

.es-row-img {
    position: absolute;
    width: 40%;
}

.main-header {
    border-bottom: 1px solid var(--border-color);
}

.about-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: var(--main-color);
}

.about-content {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    margin-bottom: 10px;
}

.sections-wrp {
    margin-bottom: 120px;
}

.es-cart-header {
    color: #ffffff;
    font-size: 1.25rem;
    background-color: var(--main-color);
    padding: 1.25rem 0;
}

.es-ch-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.es-ch-product {
    width: 40%;
    display: flex;
    text-align: left;
}

.es-ch-price {
    width: 20%;
    font-weight: 500;
}

.es-ch-quantity {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.es-ch-quantity .es-product-controls {
    width: 140px;
}

.es-ch-total {
    width: 20%;
    font-size: 1.25rem;
    font-weight: 500;
}

.es-ch-action {
    width: 10%;
    display: flex;
    justify-content: center;
}

.es-ch-action .btn-icon {
    border: 1px solid var(--main-color);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
}

.es-ch-action .btn-icon img {
    transform: rotate(-45deg);
}

.es-cart-products {
    color: #000000;
}

.es-cart-item {
    padding: 2.5rem 0;
    border-bottom: 1px solid #D4D4D4;
}

.es-ch-title {
    font-weight: 500;
}

.es-ch-img {
    width: 122px;
    height: 122px;
    margin-right: 1.5rem;
}

.es-ch-detail {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.es-product-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

.es-product-controls .btn {
    font-weight: 500;
}

.es-product-controls span {
    font-weight: 500;
}

.es-ch-quantity .es-product-controls {
    width: 140px;
}

.es-cart-footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 2rem;
}

.es-back-link {
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
}

.es-cf-right {
    width: 40%;
}

.es-cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 1.875rem;
}

.btn-bread {
    color: var(--main-color);
    background-color: #FFFFFF;
    border: 1px solid var(--main-color);
    transition: all 300ms;
    border-radius: 0;
}

.btn-bread:hover {
    color: #ffffff;
    background-color: #CCAF8D;
}

.btn-counter {
    width: 40%;
}

.btn-counter span {
    width: 20%;
}

